.gif-player-container {
  display: flex;
  justify-content: center;
}

.gif-player {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.gif-play-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px dashed #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  left: 50%;
  font-weight: bold;
  padding: 14px 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: transform 0.4s, opacity 0.4s;
  pointer-events: none;
}

.gif-play-button::after {
  content: "GIF";
}
