.container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #9f7aea;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  position: fixed;
  width: 32px;
  height: 32px;
  bottom: 12px;
  right: 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
}

.arrow {
  display: block;
  fill: #fff;
  height: 18px;
  margin: 8px auto 0;
  width: 18px;
}
